.login{
    position:absolute;
    width:450px;
    height:300px;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #ccc;
    border-radius: 10px;
}
.title{
    font-weight: 600;
    font-size:20px;
    text-align: center;
    margin:15px 0;
}
.login table{
    margin:0px auto -4px;
}
.login table td{
    padding:10px;
}
.login table td input{
    width:150px;
}
#yzm{
    width: 60px;
}

#info{
    height: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    color: #ff0512;
}
.btn{
    margin-top: 10px;
    text-align: center;
}
.btn button{
    padding:5px;
}